<div *ngIf="game && game.board; else noGameCreated" class="game-wrapper">
    <p class="close" (click)="goBack()">&#x2715;</p>
    <div class="row board-wrapper">
        <div class="col-2">
            <div class="kalaha player-2">
                {{game?.board?.[player2Kalaha]}}
            </div>
        </div>
        <div class="col-8">
            <div class="row mb-3">
                <button *ngFor="let i of player2Pits" class="col-sm pit player-2" (click)="play(i)" [disabled]="game.gameStatus !== GameStatus.FINISHED && game.currentTurn !== player2">{{game?.board?.[i]}}</button>
            </div>
            <div class="status">
                <p [ngClass]="{'player-1': game?.currentTurn === player1, 'player-2': game?.currentTurn === player2} ">{{isGameInProgress() ? getCurrentTurnPlayerName() : getWinner()}}
                    <span *ngIf="game.gameStatus === GameStatus.FINISHED" class="reset" (click)="reset()">Reset</span>
                </p>
            </div>
            <div class="row mt-3 ">
                <button *ngFor="let i of player1Pits " class="col-sm pit player-1 " (click)="play(i) " [disabled]="game.gameStatus !== GameStatus.FINISHED && game.currentTurn !== player1 ">{{game?.board?.[i]}}</button>
            </div>
        </div>
        <div class="col-2 ">
            <div class="kalaha player-1 ">
                {{game?.board?.[player1Kalaha]}}
            </div>
        </div>
    </div>
</div>

<ng-template #noGameCreated>
    <p class="no-game">Please go <span (click)="goBack()">back</span> to Home page and provide player names to start a game</p>
</ng-template>