<div class="row justify-content-md-center ">
    <div class="col-5 home-wrapper">
        <div class="intro">
            <p>To start a new game, enter Player 1 and Player 2 name and click on 'START'!</p>
        </div>
        <form>
            <input type="text" placeholder="Player 1" [(ngModel)]="player1" name="player1Name">
            <input type="text" placeholder="Player 2" [(ngModel)]="player2" name="player2Name">
            <button (click)="startGame()" [disabled]="!player1 || !player2">Start</button>
        </form>
    </div>

</div>