/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:root {
    --light-primary: #F6FBF4;
    --light-text: var(--dark-primary);
    --dark-primary: #181818;
    --dark-secondary: #262626;
    --dark-text: var(--light-primary);
    --dark-text-secondary: #9a9c99;
    --dark-shadow: rgba(0, 0, 0, 0.7);
    --border-radius: 5px;
    --player1-primary-color: #FF5548;
    --player2-primary-color: #8B71FF;
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    --inset-box-shadow: inset 5px 5px 10px 0px var(--dark-shadow);
    --player1-shadow: inset 1px 1px 8px 0px var(--player1-primary-color);
    --player2-shadow: inset 1px 1px 8px 0px var(--player2-primary-color);
    --gradient: linear-gradient(to right, var(--player1-primary-color), var(--player2-primary-color));
    --small-font-size: 1.25rem;
    --medium-font-size: 1.5rem;
    --large-font-size: 2rem;
}

body {
    background-color: var(--dark-primary);
    color: var(--dark-text);
    font-family: 'Courier New', Courier, monospace;
}